## Problem statement :

Bank XYZ has been observing a lot of customers closing their accounts or switching to competitor banks over the past couple of quarters. As such, this has caused a huge dent in the quarterly revenues and might drastically affect annual revenues for the ongoing financial year, causing stocks to plunge and market cap to reduce by X %. A team of business, product, engineering and data science folks have been put together to arrest this slide. 

__Objective__ : Can we build a model to predict, with a reasonable accuracy, the customers who are going to churn in the near future? Being able to accurately estimate when they are going to churn will be an added bonus

__Definition of churn__ : A customer having closed all their active accounts with the bank is said to have churned. Churn can be defined in other ways as well, based on the context of the problem. A customer not transacting for 6 months or 1 year can also be defined as to have churned, based on the business requirements

__From a Biz team/Product Manager's perspective :__  

(1) Business goal : Arrest slide in revenues or loss of active bank customers

(2) Identify data source : Transactional systems, event-based logs, Data warehouse (MySQL DBs, Redshift/AWS), Data Lakes, NoSQL DBs

(3) Audit for data quality : De-duplication of events/transactions, Complete or partial absence of data for chunks of time in between, Obscuring PII (personal identifiable information) data 

(4) Define business and data-related metrics : Tracking of these metrics over time, probably through some intuitive visualizations
    
    (i) Business metrics : Churn rate (month-on-month, weekly/quarterly), Trend of avg. number of products per customer, 
        %age of dormant customers, Other such descriptive metrics
    
    (ii) Data-related metrics : F1-score, Recall, Precision
         Recall = TP/(TP + FN) 
         Precision = TP/(TP + FP)
         F1-score = Harmonic mean of Recall and Precision
         where, TP = True Positive, FP = False Positive and FN = False Negative

(5) Prediction model output format : Since this is not going to be an online model, it doesn't require deployment. Instead, periodic (monthly/quarterly) model runs could be made and the list of customers, along with their propensity to churn shared with the business (Sales/Marketing) or Product team

(6) Action to be taken based on model's output/insights : Based on the output obtained from Data Science team as above, various business interventions can be made to save the customer from getting churned. Customer-centric bank offers, getting in touch with customers to address grievances etc. Here, also Data Science team can help with basic EDA to highlight different customer groups/segments and the appropriate intervention to be applied against them

__Collaboration with Engineering and DevOps :__  

(1) Application deployment on production servers (In the context of this problem statement, not required)

(2) [DevOps] Monitoring the scale aspects of model performance over time (Again, not required, in this case)

### How to set the target/goal for the metrics?

* Data science-related metrics :
    - Recall : >70%
    - Precision : >70%
    - F1-score : >70%


* Business metrics : Usually, it's top down. But a good practice is to consider it to make atleast half the impact of the data science metric. For e.g., If we take Recall target as __70%__ which means correctly identifying 70% of customers who's going to churn in the near future, we can expect that due to business intervention (offers, getting in touch with customers etc.), 50% of the customers can be saved from being churned, which means atleast a __35%__ improvement in Churn Rate

# Show me the code

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.8.4-cp312-cp312-win_amd64.whl.metadata (5.9 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.51.0-cp312-cp312-win_amd64.whl.metadata (162 kB)
     ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
     ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
     ------ ------------------------------ 30.7/162.8 kB 435.7 kB/s eta 0:00:01
     ------------- ----------------------- 61.4/162.8 kB 544.7 kB/s eta 0:00:01
     -------------------- ---------------- 92.2/162.8 kB 655.4 kB/s eta 0:00:01
     --------------------------------- -- 153.6/162.8 kB 762.6 kB/s eta 0:00:01
     ------------------------------------ 162.8/162.8 kB 751.3 kB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.21 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pradip\appdata\roaming\python\python312\site-packages (from matplotlib) (23.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl.metadata (9.4 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.8.4-cp312-cp312-win_amd64.whl (7.7 MB)
   ---------------------------------------- 0.0/7.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.7 MB 1.9 MB/s eta 0:00:04
   ---------------------------------------- 0.1/7.7 MB 1.3 MB/s eta 0:00:06
    --------------------------------------- 0.2/7.7 MB 1.3 MB/s eta 0:00:06
   - -------------------------------------- 0.2/7.7 MB 1.4 MB/s eta 0:00:06
   - -------------------------------------- 0.3/7.7 MB 1.3 MB/s eta 0:00:06
   - -------------------------------------- 0.4/7.7 MB 1.3 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/7.7 MB 1.3 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/7.7 MB 1.4 MB/s eta 0:00:06
   --- ------------------------------------ 0.6/7.7 MB 1.4 MB/s eta 0:00:05
   --- ------------------------------------ 0.7/7.7 MB 1.4 MB/s eta 0:00:05
   --- ------------------------------------ 0.7/7.7 MB 1.5 MB/s eta 0:00:05
   ---- ----------------------------------- 0.8/7.7 MB 1.4 MB/s eta 0:00:05
   ---- ----------------------------------- 0.9/7.7 MB 1.5 MB/s eta 0:00:05
   ----- ---------------------------------- 1.0/7.7 MB 1.5 MB/s eta 0:00:05
   ----- ---------------------------------- 1.1/7.7 MB 1.5 MB/s eta 0:00:05
   ------ --------------------------------- 1.2/7.7 MB 1.6 MB/s eta 0:00:05
   ------ --------------------------------- 1.3/7.7 MB 1.6 MB/s eta 0:00:05
   ------- -------------------------------- 1.4/7.7 MB 1.6 MB/s eta 0:00:04
   ------- -------------------------------- 1.5/7.7 MB 1.6 MB/s eta 0:00:04
   -------- ------------------------------- 1.6/7.7 MB 1.7 MB/s eta 0:00:04
   -------- ------------------------------- 1.6/7.7 MB 1.7 MB/s eta 0:00:04
   --------- ------------------------------ 1.7/7.7 MB 1.7 MB/s eta 0:00:04
   --------- ------------------------------ 1.8/7.7 MB 1.7 MB/s eta 0:00:04
   --------- ------------------------------ 1.9/7.7 MB 1.7 MB/s eta 0:00:04
   ---------- ----------------------------- 2.0/7.7 MB 1.7 MB/s eta 0:00:04
   ----------- ---------------------------- 2.1/7.7 MB 1.7 MB/s eta 0:00:04
   ----------- ---------------------------- 2.2/7.7 MB 1.7 MB/s eta 0:00:04
   ------------ --------------------------- 2.3/7.7 MB 1.7 MB/s eta 0:00:04
   ------------ --------------------------- 2.4/7.7 MB 1.8 MB/s eta 0:00:03
   ------------- -------------------------- 2.5/7.7 MB 1.8 MB/s eta 0:00:03
   ------------- -------------------------- 2.6/7.7 MB 1.8 MB/s eta 0:00:03
   -------------- ------------------------- 2.7/7.7 MB 1.8 MB/s eta 0:00:03
   -------------- ------------------------- 2.9/7.7 MB 1.8 MB/s eta 0:00:03
   --------------- ------------------------ 3.0/7.7 MB 1.9 MB/s eta 0:00:03
   ---------------- ----------------------- 3.1/7.7 MB 1.9 MB/s eta 0:00:03
   ---------------- ----------------------- 3.2/7.7 MB 1.9 MB/s eta 0:00:03
   ----------------- ---------------------- 3.4/7.7 MB 2.0 MB/s eta 0:00:03
   ------------------ --------------------- 3.5/7.7 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 3.6/7.7 MB 2.0 MB/s eta 0:00:03
   ------------------- -------------------- 3.8/7.7 MB 2.0 MB/s eta 0:00:02
   -------------------- ------------------- 3.9/7.7 MB 2.0 MB/s eta 0:00:02
   --------------------- ------------------ 4.1/7.7 MB 2.1 MB/s eta 0:00:02
   ---------------------- ----------------- 4.2/7.7 MB 2.1 MB/s eta 0:00:02
   ---------------------- ----------------- 4.3/7.7 MB 2.1 MB/s eta 0:00:02
   ----------------------- ---------------- 4.4/7.7 MB 2.1 MB/s eta 0:00:02
   ----------------------- ---------------- 4.5/7.7 MB 2.1 MB/s eta 0:00:02
   ------------------------ --------------- 4.7/7.7 MB 2.1 MB/s eta 0:00:02
   ------------------------ --------------- 4.8/7.7 MB 2.1 MB/s eta 0:00:02
   ------------------------- -------------- 4.9/7.7 MB 2.1 MB/s eta 0:00:02
   -------------------------- ------------- 5.0/7.7 MB 2.1 MB/s eta 0:00:02
   -------------------------- ------------- 5.1/7.7 MB 2.2 MB/s eta 0:00:02
   --------------------------- ------------ 5.2/7.7 MB 2.2 MB/s eta 0:00:02
   ---------------------------- ----------- 5.4/7.7 MB 2.2 MB/s eta 0:00:02
   ---------------------------- ----------- 5.5/7.7 MB 2.2 MB/s eta 0:00:01
   ----------------------------- ---------- 5.6/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------ --------- 5.8/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------ --------- 5.9/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------- -------- 6.0/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------- -------- 6.1/7.7 MB 2.2 MB/s eta 0:00:01
   -------------------------------- ------- 6.2/7.7 MB 2.2 MB/s eta 0:00:01
   -------------------------------- ------- 6.3/7.7 MB 2.2 MB/s eta 0:00:01
   --------------------------------- ------ 6.4/7.7 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 6.5/7.7 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 6.6/7.7 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 6.7/7.7 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 6.8/7.7 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 6.9/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------------ --- 7.0/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 7.1/7.7 MB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 7.2/7.7 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 7.3/7.7 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 7.4/7.7 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  7.5/7.7 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.7 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 7.7/7.7 MB 2.2 MB/s eta 0:00:00
Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
   ---------------------------------------- 0.0/189.9 kB ? eta -:--:--
   ------------------------- -------------- 122.9/189.9 kB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 189.9/189.9 kB 2.9 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.51.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.2 MB 2.6 MB/s eta 0:00:01
   ---- ----------------------------------- 0.2/2.2 MB 2.8 MB/s eta 0:00:01
   ------ --------------------------------- 0.4/2.2 MB 2.8 MB/s eta 0:00:01
   -------- ------------------------------- 0.5/2.2 MB 2.8 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.2 MB 2.8 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.2 MB 2.7 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.2 MB 2.8 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.2 MB 2.8 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.2 MB 2.7 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 2.8 MB/s eta 0:00:01
   ------------------------- -------------- 1.4/2.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 1.9/2.2 MB 2.9 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.2 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 2.8 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.0 kB ? eta -:--:--
   ---------------------------------------- 56.0/56.0 kB 1.5 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.5 MB 2.6 MB/s eta 0:00:01
   --- ------------------------------------ 0.2/2.5 MB 2.4 MB/s eta 0:00:01
   ---- ----------------------------------- 0.3/2.5 MB 2.0 MB/s eta 0:00:02
   ------ --------------------------------- 0.4/2.5 MB 2.2 MB/s eta 0:00:01
   ------- -------------------------------- 0.5/2.5 MB 2.2 MB/s eta 0:00:01
   --------- ------------------------------ 0.6/2.5 MB 2.2 MB/s eta 0:00:01
   ----------- ---------------------------- 0.7/2.5 MB 2.3 MB/s eta 0:00:01
   ------------- -------------------------- 0.9/2.5 MB 2.4 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.5 MB 2.4 MB/s eta 0:00:01
   ----------------- ---------------------- 1.1/2.5 MB 2.4 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.5 MB 2.5 MB/s eta 0:00:01
   --------------------- ------------------ 1.4/2.5 MB 2.5 MB/s eta 0:00:01
   ----------------------- ---------------- 1.5/2.5 MB 2.5 MB/s eta 0:00:01
   -------------------------- ------------- 1.7/2.5 MB 2.6 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.5 MB 2.6 MB/s eta 0:00:01
   ------------------------------ --------- 1.9/2.5 MB 2.6 MB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.5 MB 2.6 MB/s eta 0:00:01
   ---------------------------------- ----- 2.2/2.5 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 2.3/2.5 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 2.4/2.5 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 2.6 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.2 kB ? eta -:--:--
   ---------------------------------------- 103.2/103.2 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.51.0 kiwisolver-1.4.5 matplotlib-3.8.4 pillow-10.3.0 pyparsing-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install seaborn

Collecting seabornNote: you may need to restart the kernel to use updated packages.

  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\pradip\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pradip\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/294.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/294.9 kB 660.6 kB/s eta 0:00:01
   --------------- ------------------------ 112.6/294.9 kB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 286.7/294.9 kB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 286.7/294.9 kB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 294.9/294.9 kB 1.3 MB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [9]:
## Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [10]:
# Get multiple outputs in the same cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Ignore all warnings

import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action = 'ignore', category = DeprecationWarning)

In [13]:
# Display all rows and columns of a dataframe instrad of a truncated version

from IPython.display import display

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [15]:
# Reading the dataset | this might be present in s3 of obtained through a query on a database

df = pd.read_csv('Churn_Modelling.csv')

In [17]:
df.shape

(10000, 14)

In [20]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
RowNumber,1,2,3,4,5,6,7,8,9,10
CustomerId,15634602,15647311,15619304,15701354,15737888,15574012,15592531,15656148,15792365,15592389
Surname,Hargrave,Hill,Onio,Boni,Mitchell,Chu,Bartlett,Obinna,He,H?
CreditScore,619,608,502,699,850,645,822,376,501,684
Geography,France,Spain,France,France,Spain,Spain,France,Germany,France,France
Gender,Female,Female,Female,Female,Female,Male,Male,Female,Male,Male
Age,42,41,42,39,43,44,50,29,44,27
Tenure,2,1,8,1,2,8,7,4,4,2
Balance,0.0,83807.86,159660.8,0.0,125510.82,113755.78,0.0,115046.74,142051.07,134603.88
NumOfProducts,1,1,3,2,1,2,2,4,2,1
HasCrCard,1,0,1,0,1,1,1,1,0,1
IsActiveMember,1,1,0,0,1,0,1,0,1,1
EstimatedSalary,101348.88,112542.58,113931.57,93826.63,79084.1,149756.71,10062.8,119346.88,74940.5,71725.73
Exited,1,0,1,0,0,1,0,1,0,0

In [22]:
df.describe() # Describe all numerical columns

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [28]:
df.describe(include= ['O']) # Describe all non-numeric columns

       Surname Geography Gender
count    10000     10000  10000
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5457

In [33]:
# Checking number of uniques customers in the dataset
df.shape[0] , df.CustomerId.nunique()

(10000, 10000)

In [36]:
df_t = df.groupby(['Surname']).agg({'RowNumber':'count', 'Exited':'mean'}
                                  ).reset_index().sort_values(by='RowNumber', ascending=False)

In [37]:
df_t.head()

     Surname  RowNumber    Exited
2473   Smith         32  0.281250
1689  Martin         29  0.310345
2389   Scott         29  0.103448
2751  Walker         28  0.142857
336    Brown         26  0.192308

In [39]:
df.Geography.value_counts(normalize= True)

Geography
France     0.5014
Germany    0.2509
Spain      0.2477
Name: proportion, dtype: float64

### Conclusion

 - Discard row number
 - Discard CustomerID as well, since it doesn't convey any extra info. Each row pertains to a unique customer
 - Based on the above, columns/features can be segregated into non-essential, numerical, categorical and target variables
 
In general, CustomerID is a very useful feature on the basis of which we can calculate a lot of user-centric features. Here, the dataset is not sufficient to calculate any extra customer features

In [40]:
## Separating out different columns into various categories as defined above
target_var = ['Exited']
cols_to_remove = ['RowNumber', 'CustomerId']
num_feats = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']
cat_feats = ['Surname', 'Geography', 'Gender', 'HasCrCard', 'IsActiveMember']

Among these, Tenure and NumOfProducts are ordinal variables. `HasCrCard` and `IsActiveMember` are actually binary categorical variables.